#board {
  background-color: black;
  border-collapse: collapse;
}

.lower-hud {
  display: flex;
}

.scoreboard {
  display: flex;
  flex-direction: column;
}

td {
  background-color: white;
  border: 1px solid black;
  width: 3em;
  height: 3em;
}
