html, body {
  cursor: url(./close-outline.svg);
  margin: 0px;
}

body {
  height: 100vh;
  width : 100vw;
  position: absolute;
}

#board {
  background-color: black;
  border-collapse: collapse;
}

.lower-hud {
  display: flex;
}

.scoreboard {
  display: flex;
  flex-direction: column;
}

td {
  background-color: white;
  border: 1px solid black;
  width: 3em;
  height: 3em;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro{
  background-color: black;
  color: white;
  width: 0%;
  height: 0%;
  opacity: 0;
  position: absolute;
  animation-name: fadeIntro;
  animation-duration: 2.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome{
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* Animations */

@keyframes fadeIntro {
  0% {
    width: 100vw;
    height: 100vh;
    opacity: 1;
    color: black;
  }
  80%{
    width: 100vw;
    height: 100vh;
    opacity: 1;
    color: white;
  }
  100% {
    width: 100vw;
    height: 0;
    opacity: 0;
  }
}